.img-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-upload-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    margin-left: 1rem;
    align-items: center;
  }
  .img-preview {
    /* border-radius: 50%; */
    object-fit: cover;
    margin-right: 20px;
  }

  .img-upload-top > :nth-child(2){
    margin-top: 1rem;
  }