.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    height: 2rem;
  }
  
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    height: inherit;
  }

  .dropdown-item{
    padding: 5px;
    cursor: pointer;
  }

  .dropdown-menu{
    position: relative;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    max-height: max-content;
  }

  .dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
}